{% load static %}
{% load i18n %}

      <footer class="site-footer" role="contentinfo">
  <div class="l-container">
    <div class="site-footer__top">
      <a href="https://umanitoba.ca/" class="site-footer__logo">
        <img src="{% static 'recordtransfer/img/uofm_logo.svg' %}" alt="University of Manitoba Home" />
      </a>
      <nav class="menu--footer">
        <ul class="menu">
          <li class="menu-item">
            <a href="http://umanitoba.ca/careers/">Careers</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/media-relations">Media</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/people">People search</a>
          </li>
          <li class="menu-item">
            <a href="https://research.ad.umanitoba.ca/mrt/pubapp/exp_search.php">Research experts</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/admin/vp_admin/ofp/ohrcm/accessibility/">Accessibility</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-footer__bottom">
      <address class="site-footer__address">
        <p>
          <strong>University of Manitoba</strong><br/>
          Winnipeg, Manitoba, Canada<br/>
        </p>
        <a class="button" href="http://umanitoba.ca/visit-university-manitoba/">Maps and directions</a>
      </address>
      <div class="site-footer__bottom-middle">
        <nav class="telephone">
          <a class="u-link-decoration" href="tel:+1800-432-1960">1-800-432-1960 (North America)</a><br>
          <a class="u-link-decoration" href="tel:+1204-474-9341">Emergency: 204-474-9341</a><br>
          <a href="http://umanitoba.ca/campus/security/contact.html"><strong>Emergency information</strong></a>
        </nav>
        <nav class="menu--social">
          <ul class="social-links" aria-label="University of Manitoba Social Media Accounts">
            <li class="social-links__item">
            <a href="https://twitter.com/umanitoba" aria-label="Follow us on Twitter" class="social-links__link">
                <svg class="icon-twitter social-links__icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'recordtransfer/img/svg-sprite.svg' %}#icon-twitter"></use>
</svg>
            </a>
        </li>
            <li class="social-links__item">
        <a href="https://www.facebook.com/umanitoba" aria-label="Follow us on Facebook" class="social-links__link">
            <svg class="icon-facebook social-links__icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'recordtransfer/img/svg-sprite.svg' %}#icon-facebook"></use>
</svg>
        </a>
        </li>
            <li class="social-links__item">
            <a href="https://www.instagram.com/umanitoba/" aria-label="Follow us on Instagram" class="social-links__link">
                <svg class="icon-instagram social-links__icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'recordtransfer/img/svg-sprite.svg' %}#icon-instagram"></use>
</svg>
            </a>
        </li>
            <li class="social-links__item">
            <a href="https://www.youtube.com/user/YouManitoba" aria-label="Follow us on YouTube" class="social-links__link">
                <svg class="icon-youtube social-links__icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'recordtransfer/img/svg-sprite.svg' %}#icon-youtube"></use>
</svg>
            </a>
        </li>
            <li class="social-links__item">
            <a href="https://www.linkedin.com/school/umanitoba/" aria-label="Follow us on LinkedIn" class="social-links__link">
                <svg class="icon-linkedin social-links__icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'recordtransfer/img/svg-sprite.svg' %}#icon-linkedin"></use>
</svg>
            </a>
        </li>
                        <li class="social-links__item">
                <a href="https://umanitoba.ca/social-media-directory" aria-label="Social Media Directory">All social</a>
            </li>
            </ul>
        </nav>
      </div>

      <div class="site-footer__bottom-right">
        <nav class="menu--legal">
          <ul class="menu">
            <li class="menu-item">
              <a href="http://umanitoba.ca/access_and_privacy/Privacy_Statement.html">Privacy policy</a>
            </li>
            <li class="menu-item">
              <a href="http://umanitoba.ca/admin/vp_admin/ofp/termsofuse.html">Terms of use</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/website-feedback">Website feedback</a>
            </li>
          </ul>
          <p>&copy; 2022 University of Manitoba</p>
        </nav>
      </div>
    </div>

  </div>
</footer>
