{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{% blocktrans with username=user.username %}
Transfer Submitted by {{ username }} Failed
{% endblocktrans %}
{% endblock %}

{% block message %}
<p>
    {% blocktrans with full_name=user.get_full_name username=user.username action_date=action_date|date:"F d, Y H:i A" %}
    {{ full_name }} ({{ username }}) attempted to
    submit a new transfer at {{ action_date }} using the NCTR Record Transfer
    Portal, but an error occurred.
</p>
{% endblock %}
