{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{% blocktrans with username=user.username %}
New Transfer Submitted by {{ username }}
{% endblocktrans %}
{% endblock %}

{% block message %}
<div>
    {% blocktrans with full_name=user.get_full_name username=user.username action_date=action_date|date:"M d, Y H:i A" %}
    {{ full_name }} ({{ username }}) submitted a new
    transfer at {{ action_date }} with the NCTR Record Transfer Portal. To
    view their new submission, <a href="{{ submission_url }}">click here</a> or copy and paste
    the link below into your favourite browser:
    {% endblocktrans %}
</div>
<p>
    {{ submission_url }}
</p>
{% endblock %}
