.account-form-container {
    margin-top: 30px;
    padding: 30px 30px 30px 30px;
    border-radius: 4px;
    background-color: #eeeeee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 3px -1px #bbbbbb;
}

.account-page-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.account-error,
.account-info {
    text-align: center;
}

.account-error {
    color: red;
    margin-bottom: 10px;
}

.account-method-list {
    list-style-type: none;
    margin-bottom: -1px;
    display: flex;
}
.account-method-item {
    flex-basis: fit-content;
    padding: .3rem;
    border: 1px solid #000;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    cursor: pointer;
}
.account-method-item.active {
    border-bottom-color: #eeeeee;
}
.account-method-item > label {
    cursor: pointer;
}
.account-method-item:hover {
    background-color: #ffffff;
}
.account-method {
    display: none;
    border-top: 1px solid #000;
    padding: 0 1rem;
}
.account-method.active {
    display: block;
}

#forgot-password {
    margin-bottom: 0px;
}

@media(min-width: 1000px) {
    .account-form-container {
        width: 50%;
    }
}
