{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {# textarea overflow fix #}
    <style>
        .field-statement > textarea {
            width: 98%;
        }

        .field-note > textarea {
            width: 98%;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% if has_generated_bag %}
        <a href="{{ generated_bag_url }}">{% trans "Click here to download the bag" %}</a>
        {% else %}
        <p>{% trans "The bag is being generated. Please wait a few seconds and reload this page to access it." %}</p>
        {% endif %}
    </div>
{% endblock %}
